<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage</title>
</head>
<body>
  <h2>Welcome, <%= content.username %></h2>
  <p>Available balance: R <%= content.balance %></p>
  <form action="/dashboard" method="GET"><button type="submit">View all events</button></form>
  <form action="/viewSlip" method="GET"><button type="submit">Show Bet Slip</button></form>
  <form action="/" method="GET"><button type="submit">logout</button></form>
</body>
</html>